<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <h1>Byta lösenord</h1>
    <p>Ange gamla och nya lösenorden</p>
    <form action="/update" method="POST">
        <label for="currentPassword">Nuvarande lösenord:</label><br>
        <input type="password" id="currentPassword" name="currentPassword" required><br><br>
        <label for="newPassword">Nytt lösenord:</label><br>
        <input type="password" id="newPassword" name="newPassword" required><br><br>
        <input type="submit" value="Uppdatera lösenord">
    </form>
</body>
</html>
