<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChattaOasen</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Välkommen till ChattaOasen</h1>
    </header>
    <main>
        <section class="description">
            <p>Välkommen till vårt chatforum! Här kan du diskutera ämnen med andra medlemmar, dela idéer och vara en del av vårt gemenskap.</p>
            <p>Registrera dig eller logga in för att börja chatta och träffa nya vänner.</p>
        </section>
        <section class="actions">
            <button><a href="/login">Logga in</a></button>
            <button> <a href="/register">Registrera dig</a></button>
        </section>
    </main>
</body>
</html>
